@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Easy Events</h1>
    <p class="lead">Easy Events is the best site for creating,finding and participating in new and fun events happening in your area.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account to start your journey.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44383/Users/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check out some events</h2>
        <p>See what is happening around you without needing an account.</p>
        <p><a class="btn btn-default" href="https://localhost:44383/Events">Events list &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Host your own event</h2>
        <p>Create your own event and add it to our events list for everyone to see and join! (Account requred)</p>
        <p><a class="btn btn-default" href="https://localhost:44383/Events/Create">Host event &raquo;</a></p>
    </div>
</div>